<% include ./partials/header %>

<div id="landing-header">
    <h1>Welcome to Genesteam 91!</h1>
</div>

<div class="container fh--container">
    <div class="row">
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>LES EVENEMENTS</h2>
            <p>Dans cette rubrique découvrez tous les derniers évènements de la Genesteam, incluant article, photos et vidéos</p>
        </div>
        <div class="row">
            <% events.forEach(function(events){ %>
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="<%= events.image %>">
                    <div class="caption">
                        <h3><%= events.title %></h3>
                        <p><%= events.description %></p>
                        <p><a href="#" class="btn btn-primary" role="button">Découvrir</a></p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>LES MEMBRES</h2>
        </div>
        <% users.forEach(function(users){ %>
        <div class="col-xs-6 col-md-3">
            <div class="home--profil--center">
                <img class="img-responsive home--profil--image" src="<%= users.image %>"></img>
                <h3><%= users.username %></h3>
                <i class="glyphicon glyphicon-lock"></i> <p class="profil--element"><%= users.company %></p></br>
                <i class="glyphicon glyphicon-map-marker"></i> <p class="profil--element"><%= users.location %></p>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<% include ./partials/footer %>