<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Autres étapes</div>
                <div class="list-group">
                    <% allsports.forEach(function(allsports){%>
                    <li class="list-group-item"><a href="<%= allsports.id %>"><%= allsports.title %></a></li>
                    <% }) %>
                </div>
            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Classement</div>
                <!-- Table -->
                <table class="table">
                <tr>
                    <th>#</th>
                    <th>Coureur</th>
                    <th>Points</th>
                </tr>
                <% if(sports.classement.premier){%>
                    <tr>
                        <td>1</td>
                        <td><%= sports.classement.premier %></td>
                        <td>8</td>
                    </tr>
                <% } %>
                <% if(sports.classement.deuxieme){%>
                    <tr>
                        <td>2</td>
                        <td><%= sports.classement.deuxieme %></td>
                        <td>6</td>
                    </tr>
                <% } %>
                <% if(sports.classement.troisieme){%>
                    <tr>
                        <td>3</td>
                        <td><%= sports.classement.troisieme %></td>
                        <td>5</td>
                    </tr>
                <% } %>
                <% if(sports.classement.quatrieme){%>
                    <tr>
                        <td>4</td>
                        <td><%= sports.classement.quatrieme %></td>
                        <td>4</td>
                    </tr>
                <% } %>
                <% if(sports.classement.cinquieme){%>
                    <tr>
                        <td>5</td>
                        <td><%= sports.classement.cinquieme %></td>
                        <td>3</td>
                    </tr>
                <% } %>
                <% if(sports.classement.sixieme){%>
                    <tr>
                        <td>6</td>
                        <td><%= sports.classement.sixieme %></td>
                        <td>2</td>
                    </tr>
                <% } %>
                <% if(sports.classement.septieme){%>
                    <tr>
                        <td>7</td>
                        <td><%= sports.classement.septieme %></td>
                        <td>1</td>
                    </tr>
                <% } %>
                </table>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= sports.image%>"></img>
                <div class="caption-full">
                    <h4><a><%= sports.title %></a></h4>
                    <p><%- sports.description %></p>
                    <% if(currentUser && sports.author.id.equals(currentUser._id)){%>
                    <a class="btn btn-warning" href="/sports/<%= sports._id %>/edit">Editer</a>
                    <form id="delete-form" action="/sports/<%= sports._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Suprimer</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <% if(sports.video){%>
            <div class="thumbnail">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="<%= sports.video %>"></iframe>
                </div>
            </div>
            <% } %>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/sports/<%= sports._id %>/comments/new">Ajouter un commentaire</a>
                </div>
                <hr>
                <% sports.comments.forEach(function(comment){%>
                    <div class="row">
                        <div class="col-md-12">
                            <strong> <%= comment.author.username%> </strong>
                            <span class="pull-right">10 days ago</span>
                            <p> 
                                <%=comment.text %>
                            </p>
                            <% if(currentUser && sports.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-warning btn-xs" href="/sports/<%= sports._id %>/comments/<%= comment._id %>/edit">Editer</a>
                                <form id="delete-form" action="/sports/<%= sports._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger btn-xs">Suprimer</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>